* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}                


body {
    height: auto;
    /*background-image: url("../static/particolare_balcone.jpg");
    background: linear-gradient(135deg , #79777e 10% , #bababa );*/
    background-size: cover;
    justify-content: center;
    /*background-color: rgb(202, 202, 202);*/
}

/* This is header part CSS */

header {
    position: fixed;
    top: 0;
    height: 12vh;
    width: 100vw;
    background-color: rgba(15, 13, 20, 0.8);
    z-index: 2;
    line-height: 15px;
}

a {
    text-decoration: none;
    color: white;

}

/* This is Navigation Bar CSS */

.navbar {
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 30px;
}



.navbar h1 {
    font-size: 18px;
    margin: 0;
    border: 2px solid white;
    padding: 4px 4px 4px 4px;
    border-radius: 5px;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Display items in a row */
    flex-direction: row; /* Align items horizontally */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    text-transform: uppercase;
}

.navbar li {
    margin-right: 20px; /* Adjust margin between items */
}

.navbar li a {
  font-size: 16px;
  border-radius: 5px;
  padding: 2px 4px 2px 4px;
}

.navbar li a:hover {
  cursor: pointer;
  background: #fff;
  color: black;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}


.menu-btn {
    display: none;
    cursor: pointer;
    font-size: 20px;
}

.menu {
    position: fixed;
    top: 65px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: none;
    transition: opacity 0.3s ease; /* Transition added */
    opacity: 0; /* Initially hidden */
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.menu li {
    margin-bottom: 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.menu a:hover {
  cursor: pointer;
  color: #B98B68;
}


.main {
    position: relative;
    display: block;
    height: 800px;
    width: 100%;

}

.dashboard {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    top: 70px;
    height: auto;
    width: 98%;
    margin: 1% 1% 1% 1%;
    color: black;
    background-color: rgba(230, 172, 64, 0.5);
    box-shadow: 0 0 10px rgba(7, 6, 6, 0.5);
    background: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(10, 7, 12, .3);
}

.scrollable-section {
    position: relative;
    top: 80px;
    margin-left: 20px;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    text-decoration: center;
}

.scrollable-section .buttons {
    top: 20px;
    display: inline-block;
    margin-right: 10px; /* Adjust spacing between buttons */
    height: 70px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
}
.scrollable-section .buttons i {
    font-size: 26px;
    color: black;
    padding-bottom: 10px;
}

.scrollable-section .buttons:hover {
    background-color: rgb(104, 102, 107);
    color: white;
}


.booking-info-header {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 2%;
}

.booking-info-details-div {
    width: 98%;
    height: 10vh;
    margin: 0 1% 0 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.booking-info { 
    height: 2em;
    width: 33%;
    /* white-space: nowrap; */
}

.container {
    position: absolute;
    display: block;
    top: 220px;
    height: 80vh;
    width: 100vw;

}

/* This is Message part CSS */

.message-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 280px;
    width: 100%;
    background-color: #ffc107;
    border: 2px solid #ff9800;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.message {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-align: center;
    max-width: 100%;
}

.message em {
    color: #e91e63;
}




.content {
    position: relative;
    margin-top: 110px;
    height: auto;
    width: 90%;
    padding: 3%;
    background-color: rgba(194, 193, 197, 0.8);
    box-shadow: 0 0 10px rgba(7, 6, 6, 0.5);
    background: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(10, 7, 12, .3);
    margin-left: 2%;
}

#option2 {
    text-align: center;
}


#tax-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 92%;
}

label {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

#calculate-btn {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

#option4 {
    text-align: center;
    justify-content: center;
    place-items: center;
}

.proprety-info_header {
    margin-bottom: 20px;
    color: transparent; /* Make the text transparent */
    color: black;

}

.property-info-div-row-1 {
    display: flex;
    flex-wrap: wrap;
    padding: 3%;
}


.single-details {
    height: 80px;
    width: 160px;
    margin: 10px;
    display: flex;
    font-size: 14px;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    background-color: rgb(240, 243, 243);
    border-radius: 8px;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(10, 7, 12, .3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    color: black;
}

#pay-tax-btn{
  display: none;
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  width: 100%;
}

.line {
    white-space: nowrap;
}

.option-content {
    display: none;

}

.option-content.active {
    display: block;
}

footer {
    position: relative;
    bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    height: 200px;
    width: 100%;
    background-color: rgba(15, 13, 20, 0.8);
    color: white;

}

#footer-div-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    padding-left: 5%;
    padding-top: 5%;
}

#footer-div-2 {
    display: flex;
    padding-left: 10%;
    width: 50%;
}


.footer-column {
    display: flex;
    flex-direction: column;
    height: 180px;
    width: 33%;
    justify-content: space-around;
    text-align: center;
}


.footer-address {
    height: 130px;
    width: 80%;
}

.footer-email {
    height: 50px;
    width: 80%;
}



/* Media query for mobile responsiveness - Medium */
@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }

    .navbar ul {
      display: none;
    }

    .menu-btn {
      display: block;
    }

    .main {
        position: relative;
        height: 750px;
    }

    .message-container {
        flex-direction: column;
        padding: 5px;
    }

    .message {
        font-size: 12px;
        max-width: 100%;
    }

    .dashboard {
        top: 80px;
    }


    .booking-info {
        font-size: 0.8em;
    }

    .container {
        top: 160px;
    }

    .content {
        top: 8vh;

    }

    .single-details {
        height: 70px;
        width: 140px;
        margin: 6px;
        display: flex;
        font-size: 12px;
        flex-direction: column;
        padding: 10px 10px 10px 10px;
        background-color: rgb(240, 243, 243);
        border-radius: 8px;
        backdrop-filter: blur(20px);
        border: 2px solid rgba(10, 7, 12, .3);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
        color: black;
    }

    footer {
        font-size: 10px;
    }

    button {
        font-size: 10px;
        font-weight: bold;
    }

    iframe {
      height: 230px;
    }

}

/* Media query for mobile responsiveness - Small */
@media only screen and (max-width: 576px) {
  .container {
      top: 180px;
  }
  .main {
    height: 850px;
  }
}

/* Media query for mobile responsiveness - Extra Small */
@media only screen and (max-width: 412px) {
  .main {
    height: 800px;
  }
}

/* Media query for mobile responsiveness - Super Extra Small */
@media only screen and (max-width: 390px) {
  .container {
      top: 190px;
  }
  .main {
    height: 1100px;
  }

}